* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  height: calc(100vh - 161px);
  padding: 40px 20%; /* top-bottom, left-right */
}

button:focus {outline:0;}

@media screen and (max-width: 1400px) {
  .container {
    padding: 40px 20px !important;
  }
}

@media screen and (max-width: 1700px) {
  .container {
    padding: 10px 5% !important;
  }
}