.button-box-header {
    width: 100%;
    height: 60px;
    background: #fbca12;
    color: white;
    margin-top: 71px;
    text-align: center;
    line-height: 60px;
}
a {
    text-decoration: none;
}
.button-box {
    width: 110px;
    height: 100%;
    margin: auto;
    display: inline-block;
}
.signinbox {
    margin-right: 5px;
}
.registerbox {
    margin-left: 5px;
}

.signin-btn, .register-btn {
    color: #333;
}
.signin-btn:hover, .register-btn:hover {
    border-bottom: thick solid #333;
}
.active {
    border-bottom: thick solid #243b90;
}
.disable-link {
    pointer-events: none;
}
.signin-wrapper {
    height: calc(100vh - 208px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
.form-container {
    display: block;
    margin: auto;
    border: solid 1px #15151e;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 50%;
    background: rgb(245, 244, 240);
}
.form-heading {
    font-size: 25pt;
    color: #333;
    border-bottom: 1px solid #d0d0d2;
}
.form-body {
    padding: 30px 0px;
}
.input-box {
    font-size: 15px;
    color: #15151e;
    background: #fff;
    border: solid 1px #d0d0d2;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 15px 10px;
}
label {
    display: block;
}
.form-label {
    padding: 0px 10px;
}
.pw-label {
    margin-top: 30px;
}
.username-error, .password-error {
    margin-bottom: 20px !important;
    color: red;
}
.signin-button {
    float: right;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background: #fbca12;
}
.form-footer {
    height: calc(20% - 40px);
    margin-top: 40px;
    text-align: left;
    padding-top: 10px;
    border-top: 1px solid #d0d0d2;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
    }
    .signin-button {
        float: none;
        width: 100%;
    }
    .form-footer {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    .signin-button {
        float: none;
        width: 100%;
    }
    .form-footer {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 1919px) and (max-width: 1920px) {
    .form-container {
        width: 40% !important;
    }
}